.articles{
  .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    .head{
      color: var(--main-color);
      font-size: 40px;
      position: relative;
      margin: 20px 0;
      &::after{
        content: '';
        background-color: var(--gray-color);
        width: 100px;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
      }
    }
    .choose-type{
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;  
      padding: 20px;
      flex-wrap: wrap;
      h3{
        font-size: 25px;
        color: var(--gray-color);
      }
      select{
        width: 187px;
        border: none;
        font-family: 'Cairo';
        background-color: var(--sec-color);
        padding: 10px;
        color: var(--main-color);
        border-radius: 5px;
        outline: none;
        cursor: pointer;
      }
    }
    #root{
      margin: 50px 0;
      display: grid;
      grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
      grid-gap: 20px;
      justify-content: center;
      align-items: center;
    }
    .article{
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      background-color: var(--sec-color);
      img{
        width: 100%;
        border-radius: 5px;
      }
      h3{
        background-image: linear-gradient(90deg, var(--gray-color), var(--main-color));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        padding: 20px;
        border-bottom: 1px solid var(--gray-color);
      }
      p{
        color: var(--gray-color);
        padding: 10px;
      }
      span{
        color: var(--gray-color);
        font-size: 10px;
        padding: 10px 0;
      }
    }
  }
}