header 
  div(class="container")
    a(class="logo" href="index.html")
      h2 مدونتي
    nav
      li
        a(href="index" id="home") الرئيسية
      li
        a(href="articles" id='articles') مقالات