doctype html
html(dir="rtl" lang="ar")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap" rel="stylesheet")
  body 

    include components/header.pug

    section(class='home')
      div(class="container")
        div(class="home-text")
          h1 مدونة 
            a(href="https://ahmadalwahsh.netlify.app") أحمد الوحش
          p مقالات في شتى المجالات , نسأل اللّه أن نُفيد ونستفيد.
          a(href='articles' class="whatNew") ما الجديد!


    include components/footer.pug


    script document.getElementById('home').classList.add('active'); document.getElementById('articles').classList.remove('active');
